{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% include "links.html" %}

{% if messages %}
<div class="wrapper">
{% for message in messages %}
<p class="msg">{{message}}</p>
{% endfor %}
</div>
{% endif %}
<table class="table table-striped">
<tbody>
{% for contact in contacts %}
    <tr><td><a href="{% url "single_contact" contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a><br/>
    <small><em>
            {% if contact.phonenumber_set %}{{ contact.phonenumber_set.all.0.phone }}{% endif %}
            {% if contact.email_set %}{{ contact.email_set.all.0.email }}{% endif %}<br/>
    </em></small>
    <small><em>
    {% for group in contact.groups.all %}
        {% if forloop.first %}Groups:{% endif %}
        <a href="{% url "single_group" group.name %}">{{ group.name }}</a>,
    {% endfor %}
    {% for event in contact.events.all %}
        {% if forloop.first %}Events:{% endif %}
        <a href="{% url "single_event" event.name %}">{{ event.name }}</a>,
    {% endfor %}
    {% for tag in contact.tags.all %}
        {% if forloop.first %}Tags:{% endif %}
        <a href="{% url "single_tag" tag.name %}">{{ tag.name }}</a>,
    {% endfor %}
    </em></small>
    </td></tr>
{% empty %}
No contacts
{% endfor %}
</tbody>
</table>
{% endblock %}
